---
layout: default
---

  
<div class="page-content">
    <br />
                 {% include adsense-pt.html %} 
    
    
             <div class="error">
             Using an ad-block may hide the content!
             </div>
</div>
               <!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>
    $(window).scroll(function() {
    if ($(this).scrollTop() > 500) {
        $('#go-top').fadeIn();
    } else {
        $('#go-top').fadeOut();
    }
});
</script>

{% include ga_data_fetch.html %}


<script defer="defer" src="//load.sumome.com/" data-sumo-site-id="dec2f5872eb578a8dc528768e57e31d20af5bf9e5fffdc1da6241fe254e00bc2" ></script>
